body {
    background: lightslategray;
}

.container {
    height: 75rem;
    width: 75rem;
}

.grids{
    display: inline-block;
    height: 4rem;
    width: 4rem;
    margin: .25rem;
    background: black;
}


