body {
    background: lightslategray;
}

.container {
    position: relative;
    height: 960px;
    width: 960px;
    margin: auto;
    margin-top: 5rem;    
    padding: 0;
    border: none;

}

.newgrid {
    margin: auto;
}

.grids {
    display: inline-block;
    outline: .15rem solid black;
    border: none;
    margin: 0;
    padding: 0;
    background: rgb(58, 57, 57);
    vertical-align: top;
}


