body {
    background: lightslategray;
}

.container {
    position: relative;
    height: 63.75rem;
    width: 60rem;
    margin: auto;    
    padding: 0;
    outline: .30rem solid black;

}

.grids{
    display: inline-block;
    outline: .15rem solid black;
    border: none;
    margin: 0;
    padding: 0;
    background: rgb(58, 57, 57);
    height: 3.75rem;
    width: 3.75rem;
}


